<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
  		<meta charset="UTF-8"/>
  		<title>Citizen Participants Info Portal</title>  
  		<!--<link rel="stylesheet" href="css/login_style.css">-->
	</head>
  <body>`
  <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>     
  <ul>
  	<li> <a href="participants_i3a/info">Check your information</a> </li>
  </ul>
   <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
             </form>
  </body>
</html>