<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8"/>
  <title>Participants Login</title>  
  <!--<link rel="stylesheet" href="css/login_style.css">-->
</head>
<body>
  <div class="logout">
	 <button type="submit" class="btn_logout">Logout</button>
	</div>
  <div class="informacion">
	<h1>Personal data: </h1>
	<p>Name: <!-- nombre del usuario--></p>
	<p>Surname: <!-- apellidos del usuario--></p>	
	<p>Birthday: <!-- fefcha de nacimiento del usuario formato dd/mm/yyyy--></p>
	<p>DNI: <!-- dni del usuario formato xxxxxxxxA --></p>
	<p>Address: <!-- direccion del usuario--></p>
	<p>Nationality: <!-- nacionalidad del usuario--></p>
	<p>Email: <!-- email del usuario--></p>
	
	<h1>Account settings</h1>
	<p>New Password    <button type="submit" class="btn">Change it!</button></p>
   </div>  
</body>
</html>
